{% extends "base.html" %}

{% block nav %}
{% if offset > 0 %}
<a href="/index?offset={{ offset|add:"-10" }}">prev</a>
{% endif %}
{{ offset }}
{% if links|length == 40 %}
<a href="/index?offset={{ offset|add:"40" }}">next</a>
{% endif %}
{% endblock %}

{% block content %}
{% if has_more %}
<div class="itemlist">
  {% for link in links %}
  <div class="item">
	<div><a href="{{ link.link }}"><h2>{{ link.description }}</h2></a></div>
  </div>
  {% endfor %}
</div>
{% endif %}
<div class="createwrap">
  <div class="create">
	<form action="/create_board" method="post">
	  <div><textarea name="link" rows="1" cols="30" onFocus="this.value=''; return false">link</textarea></div>
	  <div>
		<textarea name="description" rows="3" cols="60" onFocus="this.value=''; return false">description</textarea>
	  </div>
	  <div><input type="submit" value="Create Board"></div>
	</form>
  </div>
</div>
{% endblock %}
